body {
    margin: 0;
    padding: 0;
    background-image: url("https://github.com/mizorugby/mizorugby.github.io/bike.jpg"), url("https://github.com/mizorugby/mizorugby.github.io/majan.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 10% top 3%, right 10% top 25%;
}


#header {
    box-sizing: border-box;
    background: #ccc;
    height: 50px;
}

#main {
    box-sizing: border-box;
    margin-left: 220px;
    padding: 20px 40px;
}

#sub {
    box-sizing: border-box;
    top: 50px;
    height: 28%;
    width: 220px;
    position: fixed;
    overflow: auto;
    background: #8ac2f3;
    padding: 20px;
}

li {
    text-indent: 2rem;
}

.class1 {
    text-align: right;
}